 * {
  padding: 0;
 margin: 0;
 box-sizing: border-box;
text-decoration: none;
font-family: arial, sans-serif;
    }
body {
 display: flex;
flex-direction: column;
 height: 100vh;
  }

nav{
  display: flex;
  align-items: center;
  justify-content:right;
  margin-right:30px;
  margin: 14px;
       
}


nav a {
font-size: 13px;
display: inline-block;
line-height: 24px;
font-weight: 400px;
color: rgb(red, green, 0.87blue);
cursor: pointer;
padding: 5px 6.7px;

}

nav a:hover {
  text-decoration: underline;
  opacity: 0.6;
}

nav img {
  width: 30px;
  padding: 5px;
  margin: auto 7px;
  cursor: pointer;
}

nav img:hover {
  opacity: 0.6;
}

nav button {
  border: 1px solid blue;
  font-weight: bold;
  outline: none;
  background:blue;
  color: #fff;
  padding:  12px;
  border-radius: 15px;
  margin-left: 5px;
  cursor: pointer;
}

.section .logo {
  display: block;
  margin: 0px auto;
  margin-top: 107px;
}

.s-box {
  width: 580px;
  margin: 0px auto;
  position: relative;
  margin-top: -8px;
  text-align: center;
}

.s-box .s-input {
  display: block;
  border: 1px solid #ddd;
  color: black;
  font-size: 15px;
  padding: 10px;
  padding-left: 45px;
  border-radius: 30px;
  width: 100%;
  outline: none;
}

.s-box .vs-icon {
  width: 14px;
  position: absolute;
  top: 13px;
  right: 24px;
}

footer {
  background: #f2f2f2;
  position:absolute;
  bottom: 20px;
  width: 100vw;
}

footer a {
  color: #595b5f;
  display: inline-block;
  padding: 12px 11.3px;
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
}

.links {
  border-top: 1px solid #ddd;
  display: flex;
}


.link1{
  padding-right: 20px;
  color: black;

}
.links :hover{
  color: blue;
}